# Node and dist
node_modules/
dist/
build/

# Python
env/
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# Env files
.env
.env.*

# System
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Others
coverage/
*.pid
*.seed
*.pid.lock
